<template name="addMemberModal">
  <div id="addmember" class="ui small modal" >
    <div class="header">
      Add a user
    </div>
    <div class="content">
      <div class="left">
        <i class="user icon"></i>
      </div>
      <div class="right">
        <p>Here, we still have to code something, possibly a typeahead input?</p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui buttons">
        <div class="ui negative labeled icon button">
          <i class="remove icon"></i>
          Nah, I changed my mind
        </div>
        <div class="ui positive right labeled icon button">
          Yeah, baby, do it !
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  </div>
</template>