<template name="confirmationModal">
  <div id="confirmationmodal" class="ui small basic modal" >
    <div class="header">
      How sure are you?
    </div>
    <div class="content">
      <div class="image">
        <i class="attention icon"></i>
      </div>
      <div class="description">
        <p>Are you sure you want to go on with whatever it is you were doing?</p>
        <p>Beware: <strong>no turning back.</strong></p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui buttons">
        <div class="ui basic inverted negative labeled icon button">
          <i class="remove icon"></i>
          Not so sure
        </div>
        <div class="ui basic inverted positive right labeled icon button">
          Yeah, baby, do it !
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  </div>
</template>