<template name="confirmationModal">
  <div id="confirmationmodal" class="ui small basic modal" >
    <div class="header">
      How sure are you?
    </div>
    <div class="content">
      <div class="left">
        <i class="attention icon"></i>
      </div>
      <div class="right">
        <p>Are you sure you want to go on with whatever it is you were doing?</p>
        <p>Beware: no turning back.</p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui buttons">
        <div class="ui negative labeled icon button">
          <i class="remove icon"></i>
          Nah, I changed my mind
        </div>
        <div class="ui positive right labeled icon button">
          Yeah, baby, do it !
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  </div>
</template>