<template name="team">
  <div class="container team">
    <ol class="breadcrumb h3">
    {{#if parentId}} 
      {{#with getParent parentId}}<li><a href="{{pathFor 'team' name=name id=_id}}">{{name}}</a></li>{{/with}}
    {{/if}}
    <li class="active">{{name}}</li>
  </ol> 

    {{#if parentId}}{{#with getParent parentId}} <p>Parent: {{name}}</p>{{/with}}{{/if}}
    
    <p>Email:   {{>emailWidget}}</p>
    <p>Owner:   {{>userRole role="owner" context=this}}</p>
    <p>Lead:    {{>userRole role="lead" context=this}}</p>
    <p>Co-Lead: {{>userRole role="colead" context=this}}</p>
    <p>Mentor:  {{>userRole role="mentor" context=this}}</p>
    
    <div>
      {{#if canEdit}}
      <button class="btn btn-danger team-reset">Cancel</button>
      <button class="btn btn-success team-save">Save</button>
      {{/if}}
    </div>
    

    <h4>Members:</h4>
    <div>
      {{#if canEdit}}
      <button class="btn btn-success add-member" data-toggle="modal" href="#addmember">
        <span class="glyphicon glyphicon-plus"></span> 
        Add Member
      </button>
      {{/if}}
    </div>

    <ul>
      {{#each members}}
      <li>
        {{displayName this}}
        {{#if canEdit}}<span class="remove-member glyphicon glyphicon-trash clickable"></span>{{/if}}
      </li>
      {{/each}}
    </ul>
  </div>

  {{>addMemberModal}}
</template>