<template name="team">
  <div class="main container team">
    <div class="ui large blue header">
      <div class="ui breadcrumb">
        {{> recursiveParentBreadcrumb}}
        <div class="active section">{{name}}</div>
      </div>
    </div>
    <div class="ui divider"></div>

    <div class="ui two column stackable grid">

      <div class="column">
        <div class="ui blue segment">
          <div class="ui list blue labels">
            <div class="item">
              {{>emailWidget}}        
            </div>
            {{#each roles}}
            <div class="item">
              {{>userRole role=name}}      
            </div>
            {{/each}} 
          </div>
          
          <div style="text-align: center;">
            {{#if canEdit}}
            <div class="ui buttons">
              <div class="ui negative button" id="team-reset">Cancel</div>
              <div class="or"></div>
              <div class="ui positive button" id="team-save">Save</div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui teal segment">
          <div class="ui teal header">Members:</div>
          <div class="ui horizontal divided list">
            {{#each members}}
            <a class="item">
              {{#if canEdit}}<i class="remove-member remove icon"></i>{{/if}}
              {{displayName this}}
            </a>
            {{/each}}
          </div>
          {{#if canEdit}}
          <div class="clear ui divider"></div>
          <button class="ui teal action button add-member" data-target="#addmember">
            <i class="plus icon"></i> 
            Add Member
          </button>
          {{/if}}
        </div>
      </div>

    </div>
                                                  
    <div class="ui divider"></div>
    
    <!-- create / show rotas -->
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="ui blue segment">
          <div class="ui blue header">
            <div class="active section">Create New Rota</div>

            <div class="ui list blue labels">
              <div class="item">
                <div class="ui ribbon label">
                  Shift Name
                </div>
                <div class="ui input">
                  <input type="text" id="shiftName" class="" value="">
                </div>
              </div>
              <div class="item">
                <div class="ui ribbon label">
                  Length (hours)
                </div>
                <div class="ui input">
                  <select id="shiftLength" class="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
              </div>
              <div class="item">
                <div class="ui ribbon label">
                  # Volunteers Needed
                </div>
                <div class="ui input">
                  <select id="shiftSize" class="" value="{{spacesAvailable}}">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
              </div>
              <div class="item">
                <div class="ui ribbon label">
                  Requires Approval? 
                </div>
                <div class="ui input">
                  <label>
                    <input type="radio" id="requiresApprovalYes" name="requiresApproval" class="">
                    YES
                  </label>
                  <label>
                    <input type="radio" id="requiresApprovalNo" name="requiresApproval" class="">
                    NO
                  </label>
                </div>
              </div>
              <div class="item">
                <div class="ui ribbon label">
                  Start Date/Time of First Shift
                </div>
                <div class="ui input">
                  <input type="text" id="shiftFirstStartDate" placeholder="First shift start date" class="">
                  <input type="text" id="shiftFirstStartTime" placeholder="First shift start time" class="">
                </div>
              </div>
              <div class="item">
                <div class="ui ribbon label">
                  End Date/Time of Last Shift
                </div>
                <div class="ui input">
                  <input type="text" id="shiftLastEndDate" placeholder="Last shift end date" class="">
                  <input type="text" id="shiftLastEndTime" placeholder="Last shift end time" class="">
                </div>
              </div>
              <div class="item">
                <div class="ui input">
                  <input type="submit" id="rotaSubmit" class="" value="Create">
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
      
      <div class="column">
        <div class="ui teal segment">
          <div class="ui blue header">
            <div class="active section">Shift Rotas</div>
          </div>
        </div>
      </div>
    </div>
    
    {{>confirmationModal}}
    {{>addMemberModal}}
  </div>
</template>

<template name="recursiveParentBreadcrumb">
  {{#if parentId}} 
  {{#with getParent parentId}}
  {{> recursiveParentBreadcrumb}}
  <a class="section" href="{{pathFor 'team' name=name id=_id}}">{{name}}</a>
  <i class="right arrow icon divider"></i>
  {{/with}}
  {{/if}}
</template>