<template name="team">
  <div class="container">
    <h3>{{name}}</h3>

    {{#if parentId}}<p>Parent: {{getParent parentId}}</p>{{/if}}
    <p>Email: {{>emailWidget}}</p>
    <p>Owner: {{>role role="owner" team=this}}</p>
    <p>Lead: {{>role role="lead" team=this}}</p>
    <p>Co-Lead: {{>role role="colead" team=this}}</p>
    <p>Mentor: {{>role role="mentor" team=this}}</p>

    <h4>Members:</h4>
    <!-- each membersList -->

  </div>
</template>

<template name="emailWidget">
  {{#if canEdit}}
  <input type="text" class="email" value="{{email}}">
  {{else}}
  <span>{{email}}</span>
  {{/if}}
</template>

<template name="role">
  {{#if canEdit}}
  <select>
    <option>Select</option>
    {{#each users}}
    <option value="{{_id}}">
      {{displayName}}
    </option>
    {{/each}}
  </select>
  {{else}}
  <span>{{role}}</span>
  {{/if}}
</template>