<template name="userRole">
  {{#if canEdit}}
  <div class="ui fluid selection dropdown user-role-dropdown">
    <input type="hidden" class="user-role-input" data-role="{{role}}" value="{{selectedUserId}}">
    <div class="ui ribbon label">
      {{role}}
    </div>
    <div class="default text">{{selectedUserName}}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
    {{#each users}}
      <div class="item" data-value="{{_id}}">{{displayName}}</div>
    {{dropdownCaller}}
    {{/each}}
    </div>
  </div>
  {{else}}
  <div class="ui horizontal label">{{role}}</div>
  <span>{{selectedUserName}}</span>
  {{/if}}
</template>
