<template name="org">
  <div class="container">
    {{#each this}}
      <div style="width: 48%; display:inline-block;">
        <span><a href="{{pathFor 'users' id=_id}}">{{displayName}}</a></span>
        <ul>
          {{#each teams}}
          <li>
            <span><a href="{{pathFor 'team' name=name}}">{{name}}</a></span>
            <ul>
              <li>Lead: <a href="{{pathFor 'users' id=lead}}">{{displayName lead}}</a></li>
              <li>Co-Lead: <a href="{{pathFor 'users' id=colead}}">{{displayName colead}}</a></li>
              <li>Mentor: <a href="{{pathFor 'users' id=mentor}}">{{displayName mentor}}</a></li>
            </ul>
          </li>
          {{/each}}
        </ul>
        
        {{#if canAddTeam}}
        {{>addTeam _id}}
        {{/if}}
      </div>
    {{/each}}
  </div>
</template>