<template name="org">
  <div class="container">
    {{#each this}}
      <div style="width: 48%; display:inline-block;">
        <span>{{displayName}}</span>
        <ul>
          {{#each teams}}
          <li>
            <span>{{name}}</span>
            <ul>
              <li>Lead: <a href="{{pathFor 'users' id=lead}}">{{displayName lead}}</a></li>
              <li>Co-Lead: <a href="{{pathFor 'users' id=colead}}">{{displayName colead}}</a></li>
              <li>Mentor: <a href="{{pathFor 'users' id=mentor}}">{{displayName mentor}}</a></li>
            </ul>
          </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}

    <br/>
    {{>addTeam}}
    
  </div>
</template>