<template name="checkboxListWrapper">
  {{#if this.header}}<h3>{{this.header}}</h3>{{/if}}
  <div class="ui relaxed divided selection list">
    {{> UI.contentBlock}}
  </div>
</template>

<template name="checkboxListItem">
  <div class="item">
    <div class="ui checkbox">
      <input type="checkbox">
      <label class="header">{{name}}</label>
    </div>
    {{# if description}}
    <div class="description">
      {{description}}
    </div>
    {{/if}}
    {{# if label}}
    <div class="ui teal label">
      {{label}}
    </div>
    {{/if}}
  </div>
</template>
