ol.rotaSteps {
  list-style-type: none;
  list-style-type: decimal !ie; 
   
  margin: 0;
  margin-left: 2em;
  padding: 0;
   
  counter-reset: li-counter;
}

li.rotaStep {
  visibility: hidden;
  line-height: 2.5em;
  vertical-align: middle;
  font-size: 1.1em;
  position: relative;
  margin-bottom: .5em;
  padding-left: 1.25em;
}
li.rotaStep:before {
  position: absolute;
  top: 0;
  left: -1em;
  font-size: 1.75em;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 1.25em;
  text-align: center;
  border-radius: 8px;

  content: counter(li-counter);
  counter-increment: li-counter;
}
li.rotaStep.completed:before {
  background-color: green;  
}
li.rotaStep.visible {
  visibility: visible;
}

/*
li.rotaStep > span {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  color: black;
  font-size: 1.5em;
  border-radius: 8px;
  margin-right: 1em;
}*/

li.rotaStep > input[type=radio], 
li#rotaStepTwo > label {
  margin-left: 0.5em;
}

input.numeric {
  width: 2em;
}
input.time {
  width: 5em;
}