.userProfile .profilePic{
  width: 100% !important;
  height: auto !important;
  border:10px solid #eee;
  transition: all 0.2s ease-in-out;
}
.userProfile .profilePic:hover{
  border:2px solid #eee;
}

.userProfile .profilePic .avatar-image{
	width: 100% !important;
	height: auto !important;
}


.userProfile .label {
  padding: 0.5em .6em .5em;
}

.userProfile .emergencyContact p,
.userProfile .address p{
  margin:0;
}

.myTeams .roleInTeam .teamName:not(:last-child),
.userProfile .skillSet .skill:not(:last-child){
  border-right: 1px solid #CCC;
  padding-right: 1em;
}
