<template name="addToTeamModal">
	<div id="addtoteam" class="ui small modal" >
    <i class="close icon"></i>
    {{#with userInScope}}
    <div class="header">
      Which team do you want to add user {{displayName}} to?
    </div>
    <div class="content addToTeamSelect">
        {{#checkboxListWrapper}}
          {{#each availableTeams}}
            {{> teamCheckboxListItem name=name label=teamMemberCount id=_id}}
          {{/each}}
        {{/checkboxListWrapper}}
    </div>
  {{/with}}
    <div class="actions">
      <div class="ui negative left labeled icon button">
        Cancel that
        <i class="close icon"></i>
      </div>
      <div class="ui positive right labeled icon button">
        Go for it !
        <i class="checkmark icon"></i>
      </div>
    </div>
	</div>
</template>