<template name="filterUsers">
  <div class="horizontalDivider"></div>

  <div class="ui four column doubling grid">

      <div class="column">
        <div class="ui left icon fluid input">
          <input type="text" class="search-input-filter" value="{{searchFilter}}" placeholder="Filter by username"/>
          <i class="user icon"></i>
        </div>
      </div>

      <div class="column" id="filterByTeam">
        <div class="ui fluid multi selection simple dropdown">
          <i class="users icon"></i>Filter by teams <i class="dropdown icon"></i>
          <div class="ui vertical menu teamSelectMenu">
          {{#each teams}}
            <div class="item">
              <div class="ui checkbox">
                <input type="checkbox" id="{{name}}">
                <label for="{{name}}">{{name}}</label>
              </div>
              <div class="ui teal label">
                {{teamMemberCount}}
              </div>
            </div>
            {{/each}}
          </div>
        </div> 
      </div> 

      <div class="column">
        <div class="ui left icon fluid input">
          <input type="text" name="start" disabled placeholder="Start date"/>
          <i class="calendar icon"></i>
        </div>
      </div>

      <div class="column">
        <div class="ui left icon fluid input">
          <input type="text" class="form-control" name="end" disabled placeholder="End date"/>
          <i class="right arrow icon"></i>
        </div>
      </div>

  </div>

  <div class="horizontalDivider"></div>
</template>


  