<template name="filterUsers">
    <div class="horizontalDivider"></div>
    <div class="form-group col-sm-6 col-md-3">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control search-input-filter" value="{{searchFilter}}" placeholder="Filter by username"/>
        </div>
    </div>
    <div class="form-group col-sm-6 col-md-3">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users"></i></span>
            <select class="form-control selectpicker" multiple  data-header="Filter by teams">
                {{#each teams}}
                    <option value="{{name}}" data-subtext="{{teamMemberCount}}">{{name}}</option>
                {{/each}}
                <option value="">temporary bug workaround</option>

            </select>
        </div>    
    </div>
    <!-- For test purposes: -->
    <!-- {{#each teams}}{{name}}  {{teamMemberCount}} // {{/each}} -->
   <div class="form-group col-sm-12 col-md-6">
        <div class="input-daterange input-group date" id="datepicker">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control" name="start" placeholder="Start date"/>
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" placeholder="End date"/>
        </div>
    </div>
    <div class="horizontalDivider"></div>
</template>