<template name="listUsers">
  <table class='table table-striped'>
    <thead>
      <th>Name</th>
      <th>Team</th>
      {{#if canEdit}}
      <th>Add to team</th>
      {{/if}}
    </thead>
    {{#each users}}
    <tr class="{{#if myself}}info{{/if}}">
      <td>
        {{#if myself}}
        {{displayName}}
        {{else}}
        <!-- <a class="userLink" href="{{pathFor 'user' id=_id}}">{{displayName}}</a> -->
        <a data-toggle="modal" href="#userprofile" class="userLink">{{displayName}}</a>
        {{/if}}
      </td>
      <td>
        {{#each memberOfTeams _id}}
        <a class="btn btn-default btn-xs" href="{{pathFor 'team' name=name id=_id}}">{{name}}</a>
        {{/each}}
      </td>
      {{#if canEdit}}
      <td>
        <button type="button" class="btn btn-xs btn-default">
          <span class="fa fa-plus"></span>
        </button>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </table>

  {{> userProfileModal}}
</template>