<template name="listUsers">
{{> userProfileModal}}
  <table class='ui basic compact table'>
    <thead>
      <th>Name</th>
      <th>Team</th>
      {{#if canEdit}}
      <th>Add to team</th>
      {{/if}}
    </thead>
    {{#each users}}
    <tr class="{{#if myself}}info{{/if}}">
      <td>
        {{#if myself}}
        {{displayName}}
        {{else}}
        
        <!-- <a class="userLink" href="{{pathFor 'user' id=_id}}">{{displayName}}</a> -->
        <a data-toggle="modal" href="#userprofile" class="userLink">{{displayName}}</a>
        {{/if}}
      </td>
      <td>
        {{#each memberOfTeams _id}}
        <div class="ui tiny label"><a href="{{pathFor 'team' name=name}}">{{name}}</a></div>
        {{/each}}
      </td>
      {{#if canEdit}}
      <td>
        <button type="button" class="ui tiny teal icon button">
          <i class="plus icon"></i>
        </button>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </table>

</template>