<template name="listUsers">
{{> userProfileModal}}
{{> addToTeamModal}}
  <table class='ui basic compact table'>
    <thead>
      <th>Name</th>
      <th>Teams</th>
    </thead>
    {{#each users}}
    <tr class="{{#if myself}}info{{/if}}">
      <td>
        {{#if myself}}
        {{displayName}}
        {{else}}
        
        <!-- <a class="userLink" href="{{pathFor 'user' id=_id}}">{{displayName}}</a> -->
        <a href="#userprofile" class="modalCallButton" data-target="#userprofile">{{displayName}}</a>
        {{/if}}
      </td>
      <td>
        {{#each memberOfTeams _id}}
        <div class="ui tiny label"><a href="{{pathFor 'team' name=name id=_id}}">{{name}}</a></div>
        {{/each}}
      </td>
    </tr>
    {{/each}}
  </table>

</template>