<template name="accountsAdmin">
	<div class="col-sm-6 filterInput">
			<input type="text" class="form-control search-input-filter" value="{{searchFilter}}" placeholder="Type to filter users list">
  </div>
  <div class="horizontalDivider col-sm-12"></div>

  <table class='table table-striped'>
    <thead>
      <th></th>
      <th>Name</th>
      {{#if isInRole 'admin'}}
      <th>Board<br/>Member</th>
      {{/if}}
      <th>Roles</th>
    </thead>
    {{#each users}}
    <tr class="{{#if myself _id}}info{{/if}}">
      <td>
        {{#unless myself _id}}
        <span data-toggle="modal" href="#deleteaccount" class="fa fa-trash-o clickable"></span>
        <span data-toggle="modal" href="#updateaccount" class="fa fa-pencil clickable"></span>
        <span data-toggle="modal" href="#infoaccount" class="fa fa-info-circle clickable"></span>
        {{/unless}}
      </td>
      <td>
        {{displayName}}
      </td>
      {{#if isInRole 'admin'}}
      <td>
        <input id="user_{{_id}}" type="checkbox" class="check-organizer" data-id="{{_id}}" checked="{{isOrganizer}}">
      </td>
      {{/if}}
      <td>
        <div>{{roles}}</div>
      </td>
    </tr>
    {{/each}}
  </table>

  
  <!-- {{> updateRolesModal}} -->
	{{> deleteAccountModal}}
	{{> infoAccountModal}}
	{{> updateAccountModal}}
</template>