<template name="admin">
  <div class="container">
    {{>addUserByEmail}}
    <br/>
    {{>accountsAdmin}}
    <br/>
    {{>addTeam}}
    <br/>
    {{>addRole}}
  </div>
</template>

<template name="addUserByEmail">
	<div class="input-group">
		<input type="text" class="form-control add-user-input" placeholder="Enter email address for new user">
		<span class="input-group-btn">
			<button class="btn btn-success add-user btn-default disabled" type="button">
			  <span class="glyphicon glyphicon-plus"></span> 
			  Add User
			</button>
		</span>
	</div>
</template>

<template name="addTeam">
	<div class="input-group">
		<input type="text" class="form-control add-team-input" placeholder="Enter team name (ex: Gate, Build)">
		<span class="input-group-btn">
			<button class="btn btn-success add-team btn-default disabled" type="button">
			  <span class="glyphicon glyphicon-plus"></span> 
			  Add Team
			</button>
		</span>
	</div>
	<div>
	  <ul>
	   {{#each teams}}
	   <li>{{name}}</li>
	   {{/each}}
	  </ul>
	</div>
</template>

<template name="addRole">
	<div class="input-group">
		<input type="text" class="form-control add-role-input" placeholder="Enter role name (ex: Lead)">
		<span class="input-group-btn">
			<button class="btn btn-success add-role disabled" type="button">
			  <span class="glyphicon glyphicon-plus"></span> 
			  Add Role
			</button>
		</span>
	</div>
  	<div>
  	  <ul>
  	   {{#each roles}}
  	   <li>{{name}}</li>
  	   {{/each}}
  	  </ul>
  	</div>
</template>