<template name="admin">
  <div class="container">
    {{>addUserByEmail}}
    <br/>
    {{>accountsAdmin}}
  </div>
</template>

<template name="addUserByEmail">
	<div class="input-group">
		<input type="text" class="form-control add-user-input" placeholder="Enter email address for new user">
		<span class="input-group-btn">
			<button class="btn btn-success add-user btn-default disabled" type="button">
			  <span class="glyphicon glyphicon-plus"></span> 
			  Add User
			</button>
		</span>
	</div>
</template>

<template name="addTeam">
	<div class="input-group">
		<input type="text" class="form-control add-team-input" placeholder="Enter team name (ex: Gate)" data-ownerid="{{this}}">
		<span class="input-group-btn">
			<button class="btn btn-success add-team btn-default disabled" type="button">
			  <span class="glyphicon glyphicon-plus"></span> 
			  Add Team
			</button>
		</span>
	</div>

  <!--  
  <div>
    <ul>
     {{#each teams}}
     <li>
       <a href="{{pathFor 'team'}}">{{name}}</a>
     </li>
     {{/each}}
    </ul>
  </div> 
  -->

</template>