<template name="admin">
  <div class="container">
    {{>accountsAdmin}}
    <br/>
    {{>addUserByEmail}}
    <br/>
    {{>addTeam}}
    <br/>
    {{>addRole}}
  </div>
</template>

<template name="addUserByEmail">
	<div class="input-group">
		<input type="text" id="adminAddUserEmail" class="form-control" placeholder="Enter email address for new user">
		<span class="input-group-btn">
			<button id="adminAddUserSubmit" class="btn btn-default" type="button" disabled>Add User</button>
		</span>
	</div>
</template>

<template name="addTeam">
	<div class="input-group">
		<input type="text" id="adminAddTeam" class="form-control" placeholder="Enter team name (ex: Gate, Greeters)">
		<span class="input-group-btn">
			<button id="adminAddTeamSubmit" class="btn btn-default" type="button" disabled>Add Team</button>
		</span>
	</div>
</template>

<template name="addRole">
  add role by name
</template>