<template name="infoAccountModal">
  <div id="infoaccount" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      <div>Account Info</div>
    </div>
    {{#with userInScope}}
    <div class="content">
      <div class="ui divided list">
        <div class="item">
          <div class="header">Name</div>
          <span class="right">
            {{#if profile.name}}
              {{profile.name}}
            {{else}}
              {{email}}
            {{/if}}
          </span>
        </div>
        <div class="item">
          <div class="header">Email</div>
          <span class="right">{{email}}</span>
        </div>
        <div class="item">
          <div class="header">ID</div>
          <span class="right">{{_id}}</span>
        </div>
        {{#each rolePairs}}
        <div class="item">
          <div class="header">{{key}}</div>
          <span class="right">{{value}}</span>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button">
        Ok, I'm done.
        <i class="checkmark icon"></i>
      </div>
    </div>
    {{/with}}
  </div>
</template>