<template name="needToKnow">
  <div class="horizontalDivider col-sm-12"></div>

  <table class='table table-striped'>
    <thead>
      <th>Restricted User Information</th>
      <th>Visible To</th>
      <th></th>
    </thead>

    {{#each restrictedFields}}
    <tr>
      <td>{{label}}</td>
      <td>{{visibleTo}}</td>
      <td>
        <span data-toggle="modal" data-property="{{property}}" data-target="#needtoknow" class="fa fa-pencil clickable">[edit]</span>
      </td>
    </tr>
    {{/each}}
  </table>
  
  {{>needToKnowModal}}
</template>

<template name="needToKnowModal">
  {{#with restriction}}
  <div id="needtoknow" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{label}}</h4>
        </div>
        <div class="modal-body">
          <p>Visible to:</p>
          {{#each visibleTo}}
          <div>
            <input type="checkbox"> {{this}}
          </div>
          {{/each}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>