<template name="teamsDashboard">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My teams</h3>
    </div>
    <div class="panel-body">
      {{#each leadRoleInTeams}}
        <div class="col-sm-12 col-md-6">
          <h4>{{name}} <span class="badge">{{teamMembersCount}} members</span></h4>

          {{#unless leadIsFilled}}
          <div class="alert alert-warning">
              <i class="fa fa-exclamation-triangle bigAlertIcon col-xs-1  col-md-2"></i>
                <div class="col-xs-11 col-md-10">A lead is missing for this team !</div>
                {{>addLeadButton}}
          </div>
          {{/unless}}
          
          {{#unless coleadIsFilled}}
          <div class="alert alert-warning">
              <i class="fa fa-exclamation-triangle bigAlertIcon col-xs-1  col-md-2"></i>
                <div class="col-xs-11 col-md-10">A co-lead is missing for this team !</div>
                {{>addLeadButton}}
          </div>
          {{/unless}}

          {{#unless mentorIsFilled}}
          <div class="alert alert-warning">
              <i class="fa fa-exclamation-triangle bigAlertIcon col-xs-1 col-md-2"></i>
                <div class="col-xs-11 col-md-10">A mentor is missing for this team !</div>
                {{>addLeadButton}}
          </div>
          {{/unless}}

          <div class="horizontalDivider col-sm-12"></div>

        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="addLeadButton">
  <button class="btn btn-primary btn-block btn-sm missing"><i class="fa fa-plus"></i>Add a user</button>
</template>
