<template name="userProfile">
  <div class="userProfile">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object profilePic img-circle" src="http://www.empireonline.com/images/features/100greatestcharacters/photos/88.jpg" style="width: 150px;height:150px;">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{displayName}}</h4>

        <!-- Playa name (optional) -->

        <!-- Gender (necessary for some shift scheduling: male, female, other - text input) -->

        <div class="horizontalDivider col-sm-12"></div>
        
        <adress>
            {{#each emails}}
            <div class="form-group col-md-12">
              <label class="col-sm-3">
                <abbr title="E-mail address" class="fa fa-envelope-o"> :</abbr>
              </label>
              <div class="col-sm-9">
                <a href="mailto:{{address}}">{{address}}</a>
              </div>
            </div>
            {{/each}}
            <br/>

            <!-- Address (optional) -->

            <!-- Phone (optional) -->

            <div class="form-group col-md-12">
              <label class="col-sm-3">
                <abbr title="Skype I.D." class="fa fa-skype"> :</abbr>
              </label>
              <div class="col-sm-9">
                {{skype}}
              </div>
            </div>
          <br/>
        </adress>

        <!-- Emergency contact: name / relation / phone / email -->

        <!-- Dietary restrictions 
        (Aqua: "editable table; I would like to limit the available options, 
              with some way for people to send email to the volunteer feeders 
              to indicate the more esoteric restrictions") -->

        <!-- Medical notes -->

        <!-- Skills 
        (Aqua: editable table. Skills should have a description/explanation, 
              including skill levels. Gender should go under skills for shift 
              scheduling. Skill levels should include descriptions, so that 
              people can indicate what their skill level is based on 
              definitions we give them. This can also be handy for the gender 
              ‘skill’, because what we really want to know is, for example: 
              is someone masculine enough to impress drunken locals, feminine 
              enough to make them go away quietly, etc.) -->

        <div class="horizontalDivider col-sm-12"></div>

        {{#if roleIn 'lead'}}
        <div class="roleInTeam form-group col-md-12">
          <label class="label label-primary roleName col-sm-3">Lead</label>
          <div class="col-sm-9">
            {{#each roleIn 'lead'}}<span class="teamName">{{name}}</span>{{/each}}
          </div>
        </div>
        {{/if}}
        {{#if roleIn 'colead'}}
        <div class="roleInTeam form-group col-md-12">
          <label class="label label-warning roleName col-sm-3">Co-lead</label>
          <div class="col-sm-9">
            {{#each roleIn 'colead'}}<span class="teamName">{{name}}</span>{{/each}}
          </div>
        </div>
        {{/if}}
        {{#if roleIn 'mentor'}}
        <div class="roleInTeam form-group col-md-12">
          <label class="label label-info roleName col-sm-3">Mentor</label>
          <div class="col-sm-9">
            {{#each roleIn 'mentor'}}<span class="teamName">{{name}}</span>{{/each}}
          </div>
        </div>
        {{/if}}
        {{#if memberOf}}
        <div class="roleInTeam form-group col-md-12">
          <label class="label label-success roleName col-sm-3">Member</label>
          <div class="col-sm-9">
            {{#each memberOf}}<span class="teamName">{{name}}</span>{{/each}}
          </div>
        </div>
        {{/if}}
          
      </div>
    </div>
  </div>
</template>