<template name="editShiftModal">
  <div id="editShiftModal" class="ui small modal">
    <div class="content">
      <div id="modalContent" class="ui grid">
        <div id="editActions">
          <div class="actions">
            <div class="two fluid ui buttons">
              <div class="ui negative labeled icon button">
                <i class="remove icon"></i>
                <span>Cancel</span>
                <!-- 
                click > 
                  requestId = joinId = null
                  dismiss
                -->
              </div>
              <div class="ui positive right labeled icon button">
                <span>Done</span>
                <!-- 
                click > 
                  if requiresApproval
                    add requestId to requests
                  else 
                    add joinId to volunteers
            
                  save event
                  dismiss
                -->
                <i class="chevron checkmark icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editShiftModalContent">

    <div class="sixteen wide column">
      <div class="ui header">
        {{teamName}}: 
        {{title}} :: 
        {{#if sameDate start end}}
          {{formatDateTime start 'DD/MM'}} {{formatDateTime start 'HH'}}h - {{formatDateTime end 'HH'}}h
        {{else}}
          {{formatDateTime start 'DD/MM'}} {{formatDateTime start 'HH'}}h - {{formatDateTime end 'DD/MM'}} {{formatDateTime end 'HH'}}h <br>
        {{/if}}
      </div>        
    </div>

    <div class="sixteen wide column">
      {{#if hasSpaces}}
        {{#if requiresApproval}}
          <div>Volunteers for this shift must be approved by the team lead.</div>
          <div>{{volunteers.length}}/{{spacesAvailable}} spaces are filled, and there are {{requests.length}} requests</div>
          <div class="ui button request">Ask to join this shift</div>
        {{else}}  
          <div>{{volunteers.length}}/{{spacesAvailable}} spaces are filled.</div>
          <div class="ui button join">Sign up for this shift</div>
        {{/if}}
      {{else}}
        Shift full, sorry! wub wub 
      {{/if}}
      <!-- 
      if spacesTaken < spacesAvailable
        if requiresApproval 
          show [Request] click > set var requestId = userId
        else 
          show [Join] click > set var joinId = userId
      else 
        show 'Shift Full' 
      -->
    </div>
</template>

<!--
{
  "_id": "2LRqMMkJzkC8jkMZj",
  "title": "Limited Rota Test",
  "teamId": "aj2apwTQN3A5dRr49",
  "id": "aj2apwTQN3A5dRr49_Limited_Rota Test",
  "start": "2015-01-13T07:00:00.000Z",
  "end": "2015-01-13T11:00:00.000Z",
  "requiresApproval": false,
  "spacesAvailable": "8",
  "volunteers": [],
  "requests": [],
  "source": {
    "className": []
  },
  "className": [],
  "allDay": false,
  "_allDay": false,
  "_start": "2015-01-13T07:00:00.000Z",
  "_end": "2015-01-13T11:00:00.000Z"
}
-->
